body{background-color: pink;}
h1{background-color: green;}
h2{background-color: blue;}
p{background-color: rgb(225, 68, 65);}
ol{list-style: upper-roman;}
uk{list-style: circle;}




























